<a href="https://colab.research.google.com/github/33siwon/AI-networking/blob/main/hw3(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive 

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd 

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

filename_feature='/content/gdrive/MyDrive/example/titanic_feature.csv' 
filename_survival='/content/gdrive/MyDrive/example/titanic_survival.csv' 

features = pd.read_csv(filename_feature, index_col = 0)
survival = pd.read_csv(filename_survival, index_col = 0)

In [4]:
features

     Sex   Age  FirstClass  SecondClass
0      0  22.0           0            0
1      1  38.0           1            0
2      1  26.0           0            0
3      1  35.0           1            0
4      0  35.0           0            0
..   ...   ...         ...          ...
885    1  39.0           0            0
886    0  27.0           0            1
887    1  19.0           1            0
889    0  26.0           1            0
890    0  32.0           0            0

[714 rows x 4 columns]

In [5]:
survival

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
885         0
886         0
887         1
889         1
890         0

[714 rows x 1 columns]

In [6]:
#전처리 단계
## 학습 데이터, 테스트 데이터 분리
train_features, test_features, train_labels, test_labels = train_test_split(features.values, survival.values, train_size = 0.7)

train_labels = train_labels.reshape(-1)
test_labels = test_labels.reshape(-1)

##데이터 정규화

scaler = StandardScaler()

train_features = scaler.fit_transform(train_features)
test_features = scaler.transform(test_features)

In [8]:
logistic_model = LogisticRegression()
logistic_model.fit(train_features, train_labels)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [9]:
print("학습 데이터에 대한 성능 : ", logistic_model.score(train_features, train_labels))
print("테스트 데이터에 대한 성능 : ", logistic_model.score(test_features, test_labels))

학습 데이터에 대한 성능 :  0.7735470941883767
테스트 데이터에 대한 성능 :  0.8372093023255814

In [10]:
sogang = np.array([[0, 20, 1, 0]])
sample_sogang = scaler.transform(sogang)

In [11]:
print("서강이의 운명 : ", logistic_model.predict(sample_sogang))
if logistic_model.predict(sample_sogang) == 0:
  print("사망...")
else:
  print("생존!!")

서강이의 운명 :  [1]
생존!!